build
src/library/obj
src/library/lib
src/library/doc
obj
alire

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
Getting-Started.pdf
CubedOS.pdf
*.toc

# Generated API packages
src/modules/MXDR/*.ads
src/modules/MXDR/*.adb

*.DS_Store
